<div class="list-area">
    <div class="list-wrapper">
        <ul class="list" ng-repeat="status in storyboard.statuses">
            <h3 class="status">{{ status.name }}</h3>
            <hr/>
            <li ng-repeat="story in storyboard.stories | filter: {status: status.name}"
                ng-click="storyboard.selectStory(story)"
                story="story" storyboard="storyboard" data="data">
            </li>
            <li class="emptystatus"
                drop-container=""
                accepts="['application/x-story-status']"
                on-drop="storyboard.finalizeDrop(data)"
                on-drag-enter="storyboard.changeStoryStatus(data, status)"></li>
        </ul>
    </div>
</div>

<div class="details">
    <h3>Szczegóły karty</h3>
    <div details-form storyboard="storyboard"></div>
</div>